  <div>
  <app-movie-search (termData)="handleTermData($event)"></app-movie-search>
  <br>
  <div class="container">

  <app-movie-list   [user]="movie"></app-movie-list>
  </div>
  </div>


  <div class="container_fluid well">
      <div class="row row3">
      <div class="col-md-9">
      <h1><strong> POPULAR MOVIES </strong> </h1>
      </div>
      </div>
      </div>
      

      <div class="container">
      <div class="row row4">
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="assets/xmen.jpg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="assets/harry.jpeg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="assets/dead.jpg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="assets/captain.jpg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="assets/wonder.jpg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="assets/air.png" alt="...">
        </a>
      </div>
      
    </div>
    </div>




<div class="container">
  <footer>

    <hr>
    <div class="text-center center-block">
      <p class="txt-railway">- iaPictures -</p>
      <br />
      <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:sakshamb2@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    <br>


    <div class="copyright">
      <div class="container">
        
        <div class="col-md-6">
          <ul class="bottom_ul">
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Faq's</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </div>
      </div>
    </div>



    <div class="pull-right col-lg-4 col-xs-12">
      <p>Copyrights &copy;2017 by tMDB</p>
    </div>
    <hr>

  </footer>
</div>  









